/* ===== LAYOUT ===== */
.app-main{
  position: relative;
  z-index: 1;
}

.finisher-background{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 65%;
  pointer-events: none; 
  z-index: -1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.landing-view .finisher-background{
  height: 90%;
}

.finisher-background canvas {
  width: 100%;
  height: 100% !important; 
  display: block;
}


