/* ===== LAYOUT ===== */
.app-main{
  position: relative;
  z-index: 1;
}

.finisher-background{
  position: absolute;
  inset: 0;
  width: 100%;
  max-height: 650px;
  pointer-events: none; 
  z-index: -1;
  border-bottom-left-radius: 12px;
}



