/* ===== LAYOUT ===== */
.app-layout {
    background-color: var(--bg);
}
.app-main {
    position: relative;
    z-index: 1;
}

.finisher-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 65%;
    pointer-events: none;
    z-index: -1;
    border-bottom-left-radius: 12px;
}
