@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #A9F1DD;
  --secondary-color: #47C1A4;
  --tertiary-color: #0A8769;
  --btn-color: rgba(255, 255, 255, 0.16);
  --hover-btn: #44BEA1;
  --text-color-dark: #0C1317;
  --text-color-light: #FFFCFF;
  --danger: #ef4444;
  --bg: #faebf4;
  --muted: #737373;
  --border: #e5e7eb;
  --box-shadow: rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
}

.app-layer {
  position: relative;
  z-index: 1;
}

.finisher-header {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}